<% if session[:tumblr_token] %>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
      <h2><i class="fa fa-check-circle"></i> Leírás</h2>
      <p>Justo ultrices eu. Donec elementum dui at eros scelerisque, at egestas urna dictum. Class aptent taciti sociosqu ad litora torquent per conubia nostra.</p>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
      <h2><i class="fa fa-arrow-down"></i> Itt lesz a lényeg</h2>

      <form action="/upload" method="POST" enctype='multipart/form-data'>
        <div class="form-group">
          <label class="help-block" for='file'>Kérjük válaszd ki az adatbázis állományt!</label>
          <input name='source_file' type='file' />
        </div>

        <div class="form-group">
          <label class="help-block" for="blog_name">Kérjük válaszd ki a kívánt blogot!</label>
          <select name="blog_name" class="form-control">
            <% session[:tumblr_blogs].each do |blog| %>
              <option value="<%= blog['name'] %>"><%= blog['title'] %></option>
            <% end %>
          </select>
        </div>

        <div class="form-group">
          <input type='submit' class="btn btn-default" value='Indítsd' />
        </div>
      </form>
    </div>
  </div>
<% else %>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
      <h2><i class="fa fa-question-circle"></i> Mi ez?</h2>
      <p>Fusce congue ornare purus sit amet convallis. Nam lacinia purus libero, vitae rhoncus justo ultrices eu. Donec elementum dui at eros scelerisque, at egestas urna dictum. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Pellentesque odio tortor, facilisis quis interdum sed, ultrices non dui. Maecenas auctor, dui a aliquet rhoncus, augue erat varius justo, sed luctus magna augue eu tellus. Sed laoreet tincidunt malesuada. Aenean ultrices efficitur sollicitudin. Morbi consequat risus quis lacus tempus porttitor. Fusce aliquam eget neque at ultrices. Aenean libero lectus, accumsan eget imperdiet id, pulvinar ac nunc. Aliquam lacinia ante ut neque finibus egestas. Cras a lobortis velit. Nunc imperdiet justo et lacinia cursus.</p>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
      <h2><i class="fa fa-cog"></i> Hogyan működik?</h2>
      <ol>
        <li>earum labore fuga quae delectus animi asperiores</li>
        <li>doloremque eligendi tenetur </li>
        <li>ipsum dolor sit amet, consectetur</li>
      </ol>
      <p>
        In elit nisi, consequat eu efficitur sit amet, lacinia eu lorem.
        Praesent bibendum facilisis semper. Curabitur rhoncus scelerisque
        turpis et rutrum. Pellentesque habitant morbi tristique senectus et
        netus et malesuada fames ac turpis egestas. Nulla ut commodo felis.
        Quisque nisi nisl, dignissim ut urna at, pellentesque porttitor erat.
      </p>
      <p><a class="btn btn-default btn-lg" href="/auth/tumblr">Authorize with Tumblr</a></p>
    </div>
  </div>
<% end %>
