<% if session[:tumblr_token] %>
  <form action="/upload" method="POST" enctype='multipart/form-data'>
    <label for='file'>File</label>
    <input name='file' type='file' />
    <select name="blog_name">
      <% session[:tumblr_blogs].each do |blog| %>
        <option value="<%= blog['name'] %>"><%= blog['title'] %></option>
      <% end %>
    </select>

    <input type='submit' value='Submit' />
  </form>
<% else %>
<% end %>

