<%= css :application %>
<% if session[:tumblr_token] %>
  <form action="/upload" method="POST" enctype='multipart/form-data'>
    <p>
      <label for='blog_name'>Choose your blog</label>
      <select name="blog_name">
        <% session[:tumblr_blogs].each do |blog| %>
          <option value="<%= blog['name'] %>"><%= blog['title'] %></option>
      <% end %>
      </select>
    </p>

    <p>
      <label for='file'>Source file</label>
      <input name='source_file' type='file' />
    </p>

    <input type='submit' value='Submit' />
  </form>
<% else %>
  <a href="/auth/tumblr">Authorize with Tumblr</a>
<% end %>

<hr>
<pre><%= session.inspect %></pre>
